body {
    background-color: #242937;
    color: #eee;
}

#wrap {
    width: 95em;
    margin: 0 auto;
}

h1 {
    color: #ffd700;
}

fieldset {
    width: 43%;
    margin: 0 2em;
    border-radius: 1em;
}

#contact,
#acknowledgement {
    float: right;
    clear: both;
}

.reset,
.submit {
    padding: 0.5em;
    border-radius: 1em;
    color: #ffd700;
    background: #242937;
    border: 1px solid #a4c5de;
}

label {
    display: block;
}

.clearfix {
    overflow: auto;
}

.left,
.center,
.right {
    float: left;
    width: 33%;
}

input {
    background: #56b7ff;
    border-color: #ffd700;
}
#reset,
#submit {
    
}

.reveal_if_active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.8);
    transition: 0.5s;
}

input[type="radio"] {
    float:left;
    clear: both;
    margin-right: 15px;
}

input[type="checkbox"] {
    margin-right: 15px;
}

input[type="radio"]:checked ~ .reveal_if_active {
    opacity: 1;
    margin-top: .5em;
    max-height: 100em;
    transform: scale(1);
    overflow: visible;
}

::-webkit-input-placeholder,
button,
select {
    color: #242937;
}

select {
    width: 12.5em;
    background-color: #ffd700;
}

select option {
    background-color: #ffd700;
}

input[require="true"],
textarea {
    background-color: #ffd700;
}

.attn,
.error {
	color: #ffd700;
}

.list {
    margin: 0 2em;
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
	border: 1px solid gold;
	padding: 1em;
}

.foot_nav {
    text-align: center;
    margin: 1em;
}

input:hover,
textarea:hover,
.InputClass:hover {
    background: #6495de;
    color: #242937;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease-in-out;
    opacity: 0;
    background: #6495de;
}

::-webkit-input-placeholder {
    color: #242937;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input:hover::-webkit-input-placeholder {
    background: #6495de;
    
}

input:focus,
select:focus,
textarea:focus {
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    50% {box-shadow: 0px 0px 30px 5px #242937;}
}

@keyframes mymove {
    50% {box-shadow: 0px 0px 30px 5px #242937;}
}