body {
    background-color: #242937;
}

#wrap {
    width: 95em;
    margin: 0 auto;
}

h1 {
    color: #ffd700;
}

fieldset {
    margin: 0 2em 2em;
    border: none;
    color: #eee;
    border-radius: 1em 0 1em 0;
    background-color: rgba(164, 197, 222, 0.75);
    -webkit-box-shadow: .5em .5em .5em #33668d;
    -moz-box-shadow: .5em .5em .5em #33668d;
    box-shadow: .5em .5em .5em #33668d;
}

legend {
    font-size: 1.5em;
    padding-top: 1.5em;
    color: #242937;
}

.reset,
input[type="button"] {
    padding: 0.5em;
    border-radius: 1em;
    color: #ffd700;
    background: -webkit-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -o-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -ms-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    font-weight: bold;
}

.reset:hover,
input[type="button"]:hover {
    background: -webkit-linear-gradient(top, #242937 0%, #3c404d 48%, #545863 50%, #a4c5de 100%);
    background: -o-linear-gradient(top, #242937 0%, #3c404d 48%, #545863 50%, #a4c5de 100%);
    background: -ms-linear-gradient(top, #242937 0%, #3c404d 48%, #545863 50%, #a4c5de 100%);
    background: linear-gradient(top, #242937 0%, #3c404d 48%, #545863 50%, #a4c5de 100%);
}

label {
    display: block;
}

.clearfix {
    overflow: auto;
}

input {
    background: #a4c5de;
    color: #242937;
}

textarea {
    color: #242937;
}

.reveal_if_active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.8);
    transition: 0.5s;
}

input[type="radio"] {
    float:left;
    clear: both;
    margin-right: 15px;
}

input[type="checkbox"] {
    margin-right: 15px;
}

input[type="radio"]:checked ~ .reveal_if_active {
    opacity: 1;
    margin-top: .5em;
    max-height: 100em;
    transform: scale(1);
    overflow: visible;
}

::-webkit-input-placeholder,

select {
    color: #242937;
}

select {
    width: 12.5em;
    background-color: #ffd700;
}

select option {
    background-color: #ffd700;
}

input[require="true"],
textarea {
    background: -webkit-linear-gradient(top, #fff1aa 0%, #ffed8d 48%, #ffe455 50%, #ffd700 100%);
    background: -o-linear-gradient(top, #fff1aa 0%, #ffed8d 48%, #ffe455 50%, #ffd700 100%);
    background: -ms-linear-gradient(top, #fff1aa 0%, #ffed8d 48%, #ffe455 50%, #ffd700 100%);
    background: linear-gradient(top, #fff1aa 0%, #ffed8d 48%, #ffe455 50%, #ffd700 100%);
}

.attn,
.error {
	color: #ffd700;
}

.foot_nav {
    text-align: center;
    margin: 1em;
}

input:hover,
textarea:hover,
.InputClass:hover {
    background: #6495de;
    color: #242937;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease-in-out;
    opacity: 0;
    background: #6495de;
}

::-webkit-input-placeholder {
    color: #242937;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input:hover::-webkit-input-placeholder {
    background: #6495de;
    
}

input:focus,
select:focus,
textarea:focus {
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    50% {box-shadow: 0px 0px 30px 5px #a4c5de;}
}

@keyframes mymove {
    50% {box-shadow: 0px 0px 30px 5px #a4c5de;}
}

input[disabled] {
	padding: 0.5em;
    border-radius: 1em;
    color: #c0c0c0;
    background: -webkit-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -o-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -ms-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    font-weight: bold; 
}

input[disabled]:hover {
    padding: 0.5em;
    border-radius: 1em;
    color: #c0c0c0;
    background: -webkit-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -o-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: -ms-linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    background: linear-gradient(top, #a4c5de 0%,#545863 48%,#3c404d 50%,#242937 100%);
    font-weight: bold;
}

.success {
    color: #ffd700;
    font-size: 2em;
    font-weight: 700;
    background-color: #33668d;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

.list {
    margin: 0 2em;
    text-align: center;
}

th {
    background-color: #a4c5de;
    color: #242937;
    padding: 0.25em;
}

td {
	padding: 1em;
}

.table_row.odd {
	background-color: #242937;
	color: #eee;
}

.table_row.even {
	background-color: #ffd700;
	color: #242937;
} 

